<div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <aside class="col-span-1 mb-4">
        <div class="flex flex-col items-center p-6 rounded-xl border border-gray-300 shadow-xl">
            <img ngSrc="assets/images/pp.jpg" alt="Landload" class="rounded-full" width="200" height="200">
            <h1 class="pt-6 text-2xl">Landlord Name</h1>
            <app-contact-button></app-contact-button>
        </div>
    </aside>
    <div class="col-span-1 md:col-span-3 ml-0 md:ml-6">
        <app-property-list></app-property-list>
    </div>
</div>