<div class="w-full h-[64vh] overflow-hidden rounded-xl relative">
    <img ngSrc="assets/images/beach.jpg" alt="beach" fill class="object-cover w-full h-full" width="100%" height="100%">
</div>

<div class="mt-4 grid grid-cols-1 md:grid-cols-5 gap-4">
    <div class="col-span-3 py-6 pr-6">
        <h1 class="mb-4 text-4xl">
            Property Name
        </h1>
        <span class="mb-6 block text-lg text-gray-600">
            4 guests - 2 bedrooms - 1 bathroom
        </span>
        <hr>
        <div class="py-6 flex items-center space-x-4">
            <img ngSrc="assets/images/pp.jpg" alt="Profile picture" class="rounded-full" width="50" height="50">
            <p><strong>John Doe</strong> is your host.</p>
        </div>
        <hr>
        <p class="mt-6 text-lg">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem voluptatum doloremque ipsum sapiente eos illum aut fugit non doloribus. Consequatur similique nesciunt quo esse fugit perferendis, facere accusamus. Pariatur qui dolores esse saepe minus deserunt id magnam dolor repellat maxime? Aliquid error aliquam odio doloribus quasi? Atque, provident! Aliquid, quam!
        </p>
    </div>

    <app-reservation-sidebar class="p-6 col-span-2 rounded-xl border border-gray-300 shadow-xl" />
</div>