<main class="max-w-[1500px] mx-auto px-6 pb-6">
    <h1 class="mt-6 mb-2 text-2xl">My Reservations</h1>
    <div>
        <div class="p-5 mt-4 grid grid-cols-1 md:grid-cols-4 gap-4 shadow-md border border-gray-300 rounded-xl">
            <div class="col-span-1">
                <div class="relative overflow-hidden aspect-square rounded-xl">
                    <img ngSrc="assets/images/beach.jpg" alt="beach" fill class="object-cover w-full h-full hover:scale-110 transition">
                </div>
            </div>
            <div class="col-span-1 md:col-span-3 space-y-2">
                <h2 class="mb-4 text-xl">Property Name</h2>
                <p><strong>Check in date: </strong>14/2/2024</p>
                <p><strong>Check out date: </strong>16/2/2024</p>
                <p><strong>Number of nights: </strong>2</p>
                <p><strong>Total price: </strong>200$</p>
                <div class="cursor-pointer text-white rounded-xl bg-airbnb hover:bg-airbnb-dark py-4 px-6 inline-block">Go to Property</div>
            </div>
        </div>
    </div>
</main>