<div class="flex h-[64px] flex-row items-center justify-between border rounded-full">
    <div class="hidden lg:block">
        <div class="flex flex-row items-center justify-between">
            <div class="w-[250px] h-[48px] lg:h-[64px] px-8 flex flex-col rounded-full hover:bg-gray-100 justify-center">
                <p class="text-xs font-semibold">Where</p>
                <p class="text-sm">Wanted Location</p>
            </div>
            <div class="h-[48px] lg:h-[64px] px-8 flex flex-col rounded-full hover:bg-gray-100 justify-center">
                <p class="text-xs font-semibold">Checkin</p>
                <p class="text-sm">Add Dates</p>
            </div>
            <div class="h-[48px] lg:h-[64px] px-8 flex flex-col rounded-full hover:bg-gray-100 justify-center">
                <p class="text-xs font-semibold">Checkout</p>
                <p class="text-sm">Add Dates</p>
            </div>
            <div class="h-[48px] lg:h-[64px] px-8 flex flex-col rounded-full hover:bg-gray-100 justify-center">
                <p class="text-xs font-semibold">Who</p>
                <p class="text-sm">Add guests</p>
            </div>
        </div>
    </div>
    <div class="p-2">
        <div class="cursor-pointer p-2 lg:p-4 bg-airbnb rounded-full text-white hover:bg-airbnb-dark transition">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 50 50" color="white">
                <path d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z"></path>
            </svg>
        </div>
    </div>
</div>