<div class="flex items-center justify-center fixed inset-0 z-50 bg-black/60" *ngIf="this.isOpen">
    <div class="relative w-[90%] md:w-[80%] lg:w-[700px] my-6 h-auto">
        <div
            class="translate duration-600 h-full {{this.showModal ? 'translate-y-0 opacity-100' : 'translate-y-full opacity-10'}} ">
            <div class="w-full h-auto rounded-xl relative flex flex-col bg-white">
                <header
                    class="h-[60px] flex items-center p-6 rounded-t justify-center relative border-b border-gray-200">
                    <div class="p-3 absolute left-3 hover:bg-gray-300 rounded-full cursor-pointer" (click)="handleClose()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </div>
                    <h2 class="text-lg font-bold">{{ this.label }}</h2>
                </header>
                <section class="p-6">
                    <ng-content></ng-content>
                </section>
            </div>
        </div>
    </div>
</div>