<div class="cursor-pointer">
    <div class="overflow-hidden aspect-square rounded-xl relative">
        <img ngSrc="assets/images/beach.jpg" alt="" sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 100vw"
            class="hover:scale-110 object-cover transition h-full w-full" alt="beach_house" fill priority>
    </div>
    <div class="mt-2">
        <p class="text-lg font-bold">Property Name</p>
    </div>
    <div class="mt-2">
        <p class="text-sm text-gray-500"><strong>$200</strong> per night</p>
    </div>
</div>